
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pem
*.pem:Zone.Identifier
pipeline.log

**/__pycache__/


.venv/
env/
venv/


*.log
.pytest_cache/
.mypy_cache/
**experimental/

.vscode/
.idea/
.DS_Store


*.bam
*.sam
*.vcf
*.fastq
*.fq
*.fasta
*.fa
results/

